

p{
  color:black;
  font-family: 'Raleway', sans-serif;
}
h1{
  font-family: 'Roboto', serif;
  text-decoration: underline;
  text-decoration-color: red;
}

h2{
  font-family: 'Roboto', serif;
  text-decoration: underline;
  text-decoration-color: red;
}
h3{
  font-family: 'Roboto', serif;
}
body{
  background-color: #FFFFFF;
}
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Raleway');
</style>

#container {
  background-color: #ffffff;
  width: 80%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#nav li {
  margin:0;
  padding:0;
}
#nav a:link, #nav a:visited {
  display:block;
  font-weight: bold;
  text-align: center;
  color:black;
  background-color: white;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
  /*text-decoration-style: double;*/
  border-bottom: 3px double black;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  background-color: white;
  /*text-decoration-style: double;
  text-decoration-color: red;*/
  border-bottom: 3px double red;
  text-decoration: none;
}
.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: black;
  font-size: .8em;
  margin-top: 0;
  text-align: right;
}
#footer {
  color: #000;
  background-color: #C0C0C0;
  font-family: Roboto, serif;
  font: 0.8em;
  border-top:;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: auto;
}
img{
  border: none;
}

@media (min-width: 600px) {
  #nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  #Logo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
  }
  #Facebook {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #Twitter {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #newsphotos{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 4px;
    width: 40%;

  }
}

.container {
	display: flex;
	align-items: flex-start;

}

.item-3 {
  margin-right: 20px;
  margin-left: 30px;
  margin: auto;
}
}


}
