p{
  color:black;
  font-family: 'Raleway', sans-serif;
}
h1{
  font-family: 'Roboto', serif;
  font-size: 60px;
  /* color: #be7171 */
  /* text-decoration: underline; */
  /* text-decoration-color: #be7171 */
}

h2{
  font-family: 'Roboto', serif;
  font-size: 30px;
  color: #be7171;
  /* text-decoration: underline; */
  /* text-decoration-color: red; */
}
h3{
  font-family: 'Roboto', serif;
  font-size: 20px;
  color: #807070;
}

body{
  background-color: #FFFFFF;
  /* background-color: #f2efe6; */
}

#container {
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#nav {
  display: none;
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: block;
  margin:0;
  padding-left: 3px;
}

#nav a:link, #nav a:visited {
  display:block;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 2px solid black;
  color: black;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  border-bottom: 2px solid #be7171;
  text-decoration: none;
  color: black;
}

.menu-trigger {
    order: 1;
    font-size: 3em;
    text-decoration: none;
    color: black;
}

#Logo {
    display: inline-block;
    margin-top: 15px;
    order: 2;
  }

header {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0 10px;
}

#nav ul {
  display: none;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: black;
  font-size: .8em;
  margin-top: 0;
  text-align: right;
}
#footer {
  color: #000;
  background-color: #C0C0C0;
  font-family: 'Roboto', serif;
  font: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: auto;
}

.footer_container {
  display: flex;
  align-items: center;
}

.CCA {
  display: flex;
  align-content: center;
  margin: 10px;
}

/* @media (min-width: 600px) { */
  /* #nav {
    flex-direction: row;
    justify-content: flex-end;
  }*/

  #Facebook {
    display: inline-block;
    margin: 10px;
  }

  #Twitter {
    display: inline-block;
    margin: 10px;
  }

  #newsphotos{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 4px;
    width: 40%;
  }

a{
  color: white;
  visited: black;
  text-decoration: none;
}

/*.homepage_images{
  width: 50%;
  border: 1px solid;
  border-color: black;
}*/

.homepage_header{
  margin-bottom: 10px;
}

/*.homepage_images{
  display:flex;
  width: 100%;
  align-items: center;
  border-radius: : .5px;
  border-color: black;
  margin: 5px;
}*/

.column {
    display: flex;
    flex-flow: column;
}

.homepage_images {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    padding: 0;
    margin: 5px;
    width: 415px;
}

/*.row{
  display: flex;
  }

.jrpic {
  flex: 50%;
  padding: 5px;
}*/

.joinrenew{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #be7171;
  text-align: center;
  cursor: pointer;
  }

 .column {
  /* float: left; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  /* padding: 0 8px; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;

}
/* .homepage_header{
  display: inline-block;
  width:100%;
} */

/*staff.html*/

.staff-container {
    display: flex;
    flex-flow: column;
    padding: 20px;
}

.staffcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px #888;
  padding: 0;
  margin-bottom: 20px;
}

.staffcontainer {
  padding: 0 16px;
}

.staffcontainer::after, .staffrow::after {
  content: "";
  clear: both;
  display: table;
}

.stafftitle {
  color: grey;
}

.staffbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.staffbutton:hover {
  background-color: #555;
}

@media screen and (min-width: 600px) {
    #container {
        width: 80%;
    }
    .staff-container {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .staffcard {
        width: 45%;
    }

    #Logo {
      width: 300px;
    }

    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "a b c";
			}

    .jrpic1{
      grid-area: a;
    }

    .jrpic2{
      grid-area: b;
    }

    .jrpic3{
      grid-area: c;
    }

    .column {
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .homepage_images {
            width: 450px;
        }
  }

@media screen and (min-width: 900px){

#container ul {
      display: flex;
      justify-content: flex-end;
    }

.menu-trigger {
      display: none;
    }

    #Logo {
        order: 1;
        width: 300px;
    }

    #container {
        order: 2;
    }
}

@media screen and (min-width: 800px) {
    .staffcard {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
.homepage_images {
    width: 500px;
}
}
